<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>

<style>
  body {
    background-image: linear-gradient(130deg, #66ffff, #ff99ff);
  }
</style>
</head>
<body class="container-fluid">

<header>
  <%- include('../partials/navbar'); %>
</header>

<% if (locals.errors) { %>
  <% errors.forEach(function(error) { %>
    <div class="alert alert-danger alert-dismissible fade show position-sticky" role="alert">
      <strong> Error!</strong> <%= error %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% }); %>
<% }%>
<% if (locals.success) { %>
  <div class="alert alert-info alert-dismissible fade show position-sticky" role="alert">
    <strong> Success!</strong> <%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% }%>

<main>
  <div class="row pb-4 pt-4">
      <div class="col-4"></div>
      <div class="col-4">
        <form class="bg-light border border-rounded p-5 text fs-18" method="post" action="/scan">
          <div class="text-center pb-2">
            <h1 class="display-6">Scan your Website!</h1>
          </div>
          <div class="mb-3">
            <label for="website" class="form-label">Website</label>
            <input type="text" class="form-control" id="website" name="website" placeholder="Please enter the login URL of your website.">
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" placeholder="Please enter a valid username." id="username" name="username">
          </div>
          <div class="mb-3">
            <label for="usernameTag" class="form-label">Username id/name tag</label>
            <input type="text" class="form-control" placeholder="Enter the HTML element tag associated with your username." id="usernameTag" name="usernameTag">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Please enter the associated password." id="password" name="password">
          </div>
          <div class="mb-3">
            <label for="passwordTag" class="form-label">Password id/name tag</label>
            <input type="text" class="form-control" placeholder="Enter the HTML element tag associated with your password." id="passwordTag" name="passwordTag">
          </div>
          <div class="mb-3">
            <label for="depth" class="form-label">Scan Depth</label>
            <input type="number" min="1" max="15" class="form-control" placeholder="Please enter depth of the scan." id="depth" name="depth">
          </div>
          <div class="mb-3 form-button">
            <p class="text text-dark fs-10">
              Please adhere to these 
              <button class="btn btn-link text-warning" style="text-decoration-line: none;" id="guidelinesLink">guidelines</button>
                when scanning.
            </p>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary pe-4 ps-4"><i class="bi bi-search"></i> Scan</button>
          </div>
          <%- include('../partials/footer'); %>
        </form>
      </div>
    </div>
</div>
</main>


<script>
  document.getElementById("guidelinesLink").addEventListener("click", function() {
    window.open("localhost:3000/test");
  });
</script>

</body>
</html>