<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <style>
    body {
      background-image: linear-gradient(130deg, #66ffff, #ff99ff);
    }
    .email {
      display:none;
    }
    .fn {
      display:none;
    }
    .ln {
      display:none;
    }
  </style>

</head>
<body class="container-fluid">

<header>
  <%- include('../partials/navbar'); %>
</header>

<main>
  <% if (locals.errors) { %>
    <% errors.forEach(function(error) { %>
      <div class="alert alert-danger alert-dismissible fade show position-sticky" role="alert">
        <strong> Error!</strong> <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% }); %>
  <% }%>
  <% if (locals.success) { %>
    <div class="alert alert-info alert-dismissible fade show position-sticky" role="alert">
      <strong> Success!</strong> <%= success %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% }%>
  <div class="row">
    <div class="col-6 pt-3">
      <form class="bg-light border border-rounded p-5 text fs-18" method="post" action="/settings">
        <div class="text-center pb-2">
          <h1 class="display-5">Account Settings</h1>
        </div>
        <div class="mb-3">
          <label class="label" for="selectOption">Select Account Setting To Change</label>
          <select class="form-select mb-3 mt-3" id="selectOption" name="selectOption" onchange="changedSelect()">
            <option value="password" selected>Password</option>
            <option value="email">Email</option>
            <option value="fn">First Name</option>
            <option value="ln">Last Name</option>
          </select>

          <label for="currpassword" class="form-label password">Current Password</label>
          <input type="password" class="form-control mb-3 password" placeholder="Please enter your current password." name="currpassword" id="currpassword">
          <label for="curremail" class="form-label email">Current Email</label>
          <input type="text" class="form-control mb-3 email" placeholder="Please enter your current email." id="curremail" name="curremail">
          <label for="currfn" class="form-label fn">Current First Name</label>
          <input type="text" class="form-control mb-3 fn" placeholder="Please enter your current first name." id="currfn" name="currfn">
          <label for="currln" class="form-label ln">Current Last Name</label>
          <input type="text" class="form-control mb-3 ln" placeholder="Please enter your current last name." id="currln" name="currln">
        </div>
        <div class="mb-3">
          <label for="newpassword" class="form-label password">New Password</label>
          <input type="password" class="form-control mb-3 password" placeholder="Please enter your new password." id="newpassword" name="newpassword">
          <label for="newemail" class="form-label email">New Email</label>
          <input type="text" class="form-control mb-3 email" placeholder="Please enter your new email." id="newemail" name="newemail">
          <label for="newfn" class="form-label fn">New First Name</label>
          <input type="text" class="form-control mb-3 fn" placeholder="Please enter your new first name." id="newfn" name="newfn">
          <label for="newln" class="form-label ln">New Last Name</label>
          <input type="text" class="form-control mb-3 ln" placeholder="Please enter your current last name." id="newln" name="newln">
        </div>
        <div class="mb-3">
          <label for="newPassword2" class="form-label password">Confirm Password</label>
          <input type="password" class="form-control mb-3 password" placeholder="Please confirm your new password." id="newpassword2" name="newpassword2">
          <label for="newEmail2" class="form-label email">Confirm Email</label>
          <input type="text" class="form-control mb-3 email" placeholder="Please confirm your new email." id="newEmail2" name="newemail2">
          <label for="newfn2" class="form-label fn">Confirm First Name</label>
          <input type="text" class="form-control mb-3 fn" placeholder="Please confirm your new first name." id="newfn2" name="newfn2">
          <label for="newln2" class="form-label ln">Confirm Last Name</label>
          <input type="text" class="form-control mb-3 ln" placeholder="Please confirm your current last name." id="newln2" name="newln2">
        </div>
        <div class="mb-3 form-button">
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary pe-4 ps-4"> 
            <i class="bi bi-person-fill-gear"></i> 
            Make Change </button>
        </div>
      </form>
    </div>
    <div class="col-6 pt-3">
      <form class="bg-light border border-rounded p-5 text fs-18">
        <div class="text-center pb-2">
          <h1 class="display-5">General Settings</h1>
        </div>
        <div class="mb-3 text-center">
          <button type="submit" class="btn btn-danger p-4" id="account"> Delete Account </button>
        </div> 
      </form>
      <div class="container-fluid bg-light p-5 border mt-3">
        <h1 class="display-5">User Information</h1>
        <h1 class="display-6">
          Email: <%= user.first_name %> <br>
          First Name: <%= user.first_name %> <br>
          Last Name : <%= user.first_name %> <br>
        </h1>
      </div>
    </div>
  </div>
<script src="scripts/selectSettings.js"></script>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>